html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

@font-face {
  font-family: 'Bevan', cursive;
  font-family: 'Oxygen', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Bevan&family=Oxygen&display=swap');
}

body {
  font: normal 2rem 'Oxygen', 'Arial', sans-serif;
  margin: 0 auto;
}

h1, h2 {
  font: bold 2.5rem 'Bevan', 'Impact', serif;
}

h2 {
  font-size: 2rem;
}

legend {
  font-size: 1.8rem;
  margin: 0 auto;
}

label {
  font-size: 1.5rem;
}

[for=vanillaQuantityId], [for=strawberryQuantityId], [for=chocolateQuantityId] {
  font-size: 1rem;
}

a {
  padding: 10px;
  text-decoration: none;
}

a:visited {
  color: #247ba0;
  font-weight: bold;
}

a:hover {
  background-color: #ca2e55;
  color: yellow;
  font-weight: bold;
  text-decoration: underline;
}

header {
  border-bottom: solid 5px #247ba0;
}

main {
  max-width: 1248px;
  margin: 0 auto;
}

fieldset {
  align-items: center;
  border-radius: 2px;
  border: solid black 2px;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

fieldset section {
  gap: 20px;
}

input {
  border-radius: 2px;
  border: solid black 2px;
  display: block;
  height: 50px;
  width: 420px;
}

[name=deliveryTime], [name=address] {
  width: 200px;
}

[type="checkbox"] {
  height: 25px;
  width: 25px;
}


footer {
  border-top: solid 5px #247ba0;
  max-height: 125px;
}


.submitButton {
  background-color: #62FF74;
  border: none;
  border-radius: 25px;
  color: #000000;
  height: 50px;
  font: normal 24px 'Roboto', 'Arial', sans-serif;
  text-align: center;
  text-decoration: none;
  margin: 50px auto;
  width: 250px;
}

.activeLink:hover {
  color: yellow;
}

.activeLink{
  color: #000000;
}

fieldset section, fieldset {
  display: flex;
}

@media(max-width: 800px) {
  h1 {
    font-size: 1.8rem;
  }

  legend {
    font-size: 1.5rem;
  }

  label {
    font-size: 1.2rem;
  }

  fieldset {
    max-width: 350px;
  }

  fieldset section {
    flex-direction: column;
  }

  input, [name=deliveryTime], [name=address] {
    height: 35px;
    width: 300px;
  }  
}

@media(max-width: 500px) {
  fieldset {
    border: 0;
  }

  input, [name=deliveryTime], [name=address] {
    height: 35px;
    width: 200px;
  }  
}