html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

@font-face {
  font-family: 'Bevan', cursive;
  font-family: 'Oxygen', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Bevan&family=Oxygen&display=swap');
}

body {
  font: normal 2rem 'Oxygen', 'Arial', sans-serif;
  margin: 0 auto;
}

h1 {
  font: bold 2.5rem 'Bevan', 'Impact', serif;
}

legend {
  font-size: 1.8rem;
  margin: 0 auto;
}

label {
  font-size: 1.5rem;
}

a {
  padding: 10px;
  text-decoration: none;
}

a:visited {
  color: #247ba0;
  font-weight: bold;
}

a:hover {
  background-color: #ca2e55;
  color: yellow;
  font-weight: bold;
  text-decoration: underline;
}

header {
  border-bottom: solid 5px #247ba0;
}

main {
  max-width: 1248px;
  margin: 0 auto;
}

fieldset {
  align-items: center;
  border-radius: 2px;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

input {
  border: solid black 2px;
  display: block;
}


footer {
  border-top: solid 5px #247ba0;
  max-height: 125px;
}


.submitButton {
  background-color: #62FF74;
  border: none;
  border-radius: 25px;
  color: #000000;
  height: 50px;
  font: normal 24px 'Roboto', 'Arial', sans-serif;
  text-align: center;
  text-decoration: none;
  margin: 50px auto;
  width: 250px;
}

.activeLink:hover {
  color: yellow;
}

.activeLink{
  color: #000000;
}